@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecera {
  display: flex;
  justify-content: center;
  background-color: #242F40;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  font-size: 30px;
}

.lista__principal {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
}

.lista__individual {
  border: 3px solid rgb(50, 88, 48);
  padding: 0 15px;
}

body {
  background-color: rgb(101, 101, 117);
  background-repeat: no-repeat;
  background-position: center;
  background-size: COVER;
  font-family: "Edu SA Beginner", cursive;
}

.titulo_principal {
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 100px;
  margin-top: 50px;
  color: white;
}

.pagina_textoprincipal {
  display: flex;
  padding: 15px;
}

.texto_principal {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 2;
  color: white;
}

.boton {
  font-size: 25px;
  margin-left: 200px;
  padding: 8px 35px;
  background-color: #000;
  border-radius: 15px;
  text-decoration: none;
  color: white;
}

.listado_principal {
  font-size: 22px;
  letter-spacing: 2px;
  word-spacing: 10px;
  text-align: justify;
  color: white;
  margin-left: 50px;
  list-style: circle;
  margin-top: 30px;
}

.titulo_form {
  font-size: 30px;
}

a {
  color: chartreuse;
  text-decoration: none;
}

a:hover {
  background-color: blueviolet;
  color: white;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid grey;
}

/* Grid Clientes */
.galeria__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
  justify-items: center;
}

.galeria__container--img {
  width: 350px;
  height: 350px;
}

/* Animaciones */
.galeria__container--img {
  -webkit-animation-name: anima;
          animation-name: anima;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

@-webkit-keyframes anima {
  0% {
    transform: scale(0.2);
    border-radius: 100%;
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes anima {
  0% {
    transform: scale(0.2);
    border-radius: 100%;
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
/* Servicios */
.article_container {
  padding: 20px;
}

.article_info-a, .article_info-b {
  display: flex;
}

article p {
  font-size: 1.5rem;
  padding: 30px;
  color: white;
}

/* Notas de Interes */
.notas_interes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contacto */
.formulario {
  display: flex;
  justify-content: center;
  width: 50%;
  line-height: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 10px;
}

.form_contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
}

.formulario--fieldset {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 70%;
  color: white;
  font-weight: bold;
  background: rgba(8, 95, 5, 0.6862745098);
  font-size: 1.2rem;
  border-radius: 5px;
}

.formulario2--fieldset {
  background-color: rgb(15, 85, 62);
  border: 2px solid black;
}

h2 {
  color: white;
  font-size: 30px;
}

/* Grid Footer */
.pie {
  background-color: #242F40;
  line-height: 25px;
  color: white;
  letter-spacing: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1FR);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "datos datos" "wa wa" "mail mail";
  gap: 10px;
}

.items {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  grid-area: datos;
}

.item2 {
  grid-area: wa;
}

.item3 {
  grid-area: mail;
}

.navbar {
  background-color: #242F40;
}

.navbar-dark .navbar-nav .nav-link {
  color: chartreuse;
  font-size: 30px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.form-label {
  color: white;
}

.form-check-label {
  color: white;
}

/* moBil */
@media only screen and (max-width: 320px) {
  /* estilos generales */
  header ul li a {
    font-size: 10px;
  }
  .titulo_principal {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .video {
    width: 300px;
  }
  /* footer */
  .pie {
    display: flex;
    flex-direction: column;
  }
  .items {
    font-size: 10px;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
  }
  /* clientes */
  .galeria__container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .pagina_textoprincipal {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .article_info-a, .article_info-b {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .article_info-a img, .article_info-b img {
    width: 50%;
  }
  .article_info-b {
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
  }
  .article_info-b img {
    width: 50%;
  }
  /* contacto */
  .form_contacto {
    flex-direction: column;
  }
  .formulario {
    width: 100%;
  }
  .formulario--fieldset {
    align-items: flex-end;
  }
}/*# sourceMappingURL=style.css.map */